$title-colour: white; // The colour of the page title text.

$nav-background-colour: white; // The background colour of the nav bar.
$nav-element-colour: #555; // The colour for the elements in the nav bar.
$nav-hover-colour: #225a99; // The colour of nav elements when being hovered over.
$nav-current-colour: #2c71bf; // The colour of the current nav element.

$table-border-colour: #49556b; // The colour of table borders.

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	text-align: center;
}

.flex {
	display: flex;
}

nav {
	position: fixed;
	background: $nav-background-colour;
	width: 100vw;
	text-align: center;
	padding: 1.5vh 0;
	
	a {
		width: 100%;
		text-decoration: none;
		color: $nav-element-colour;
	}
	
	a:hover {
		color: $nav-hover-colour;
	}
	
}

#current {
	color: $nav-current-colour;
}

#page-title {
	width: 100%;
	height: 30vh;
	background-image: url("../images/header-bg.jpg");
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10em;
	color: $title-colour;
}

iframe {
	padding-top: 1vh;
}

table {
	margin: 1vh auto;
	border-collapse: collapse;
	th, td {
		border: 1px solid $table-border-colour;
		padding: 0.5vmin;
	}
}